.placeholder-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #555;
    border-radius: 50%;
    color: white;
    font-weight: bold;
  }
  